/* Base CSS - Imports for all mixins + global project variables */

:root {
  --eb-font-regular: 400;
  --eb-font-bold: bold;

  /* Base Font */
  --eb-base-font-family: Arial, sans-serif;
  --eb-base-font-weight: var(--font-regular);
  --eb-base-font-size: 16px;
  --eb-base-line-height: 1.4;

  /* Padding, margin and optimal widths */
  --eb-base-spacing: 1rem;
  --eb-base-section-width: 730px;
  --eb-article-widget-icon-width: 44px;
  --eb-article-widget-icon-font-size: 20px;
}
