html {
  font-family: var(--eb-base-font-family);
  -webkit-font-smoothing: antialiased;
}

.eb-article-widget {
  position: relative;
  min-height: 250px;
  perspective: 800px;
  overflow: auto;

  & .eb-left-column {
    float: left;
    width: 50%;
    padding: 1rem 1rem 0 0;
    box-sizing: border-box;
  }

  & .eb-right-column {
    float: right;
    padding: 1rem 0 0;
    box-sizing: border-box;
    width: 50%;
  }
}

/* Flip animation */
.eb-quiz-card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform-origin: right center;
  transition: transform 1s;

  & figure {
    padding: 1rem;
    box-sizing: border-box;
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &-front {
    background: rgba(0, 0, 0, .1);
  }

  &-back {
    background: rgba(0, 0, 0, .1);
    transform: rotateY(180deg);
  }

  & .eb-quiz-answer {
    /* Default incorrect */
    background: red;

    &.eb-correct {
      background: green;
    }
  }

  & .eb-quiz-emojifeedback {
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    user-select: none;

    & li {
      margin-right: -4px;
      padding: 0;
      font-size: 50px;
      display: inline-block;
      width: 20%;
      cursor: pointer;
      transition: transform .5s;

      &:hover {
        transform: scale(1.4);
      }
    }
  }

  &.flipped {
    /* Result when clicking */

    transform: translateX(-100%) rotateY(-180deg);
  }
}

button {
  text-align: center;
  font-weight: bold;
}
