html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: var(--eb-base-font-family);
  font-size: var(--eb-base-font-size);
}

body {
  font-size: var(--eb-base-font-size);
}

h3 {
  font-weight: var(--eb-font-bold);
}

p {
  font-size: var(--eb-base-font-size);
  line-height: var(--eb-base-line-height);
}

strong {
  font-weight: var(--eb-font-bold);
}

a {
  color: var(--eb-color--bruger);
  text-decoration: none;
}
