- var title = "Titel her"
doctype html
html(lang="en")
  head
    title= title
    base(target="_blank")
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='styles/main.min.css', rel='stylesheet')
  body
    .article-widget
      h3.article-widget-header
        //- http://fontawesome.io/icons/
        .article-widget-icon.fa.fa-question
        span.article-widget-header--text= title
      .article-widget-content
        .left-container: button Ja
        .right-container: button Nej
        p Nej. Det er imod god dansk kø-kultur
        label(for="checkbox_id")
          input(type='checkbox', id="checkbox_id", checked)
          | Fuldstændig enig
        input(type="text", placeholder='Hello dd')
        input.no-border-bottom(type="text", placeholder='Placeholder 2')
    p.article-widget-footer: a(href='#') Send dit spørgsmål
    if build
      include _tracking
    script(src="scripts/main.min.js")
    script.
      window.ebmodule.init()
