- var title = "Kendskabsquiz"
doctype html
html(lang="en")
    head
        title= title
        base(target="_blank")
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href='styles/main.min.css', rel='stylesheet')
    body
        .eb-article-widget: .eb-quiz-card
            figure.eb-quiz-card-front
                h3.eb-article-widget-header
                .eb-article-widget-content
                  p.eb-quiz-question
                  .eb-left-column: button.eb-quiz-left-button
                  .eb-right-column: button.eb-quiz-right-button
            figure.eb-quiz-card-back
                p.eb-quiz-answer
                p Hvad synes du?
                ul.eb-quiz-emojifeedback
                  li &#x1F612;
                  li &#x1F616;
                  li &#x1F60D;
                  li &#x1F61C;
                  li &#x1F622;
                button.eb-quiz-share Del på face
        include _facebook
        script(src="scripts/main.min.js")
        script.
            window.ebmodule.init()
